@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
	--font-mulish: "Mulish", Tahoma, Helvetica, sans-serif;
	--color-light: #fafffc;
	--color-dark: #181b18;
	--color-primary: #60a000;
}
